mixin header(headerMods, currentUrl)
  -
    const headerLinksTopper = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Курсы"
      },
      {
        href: "#",
        text: "Блог"
      },
    ]
    const headerLinksBottom = [
      {
        href: "#",
        text: "Дизайн"
      },
      {
        href: "#",
        text: "Программирование"
      },
      {
        href: "#",
        text: "Аналитика"
      },
      {
        href: "#",
        text: "Менеджмент"
      },
      {
        href: "#",
        text: "Маркетинг"
      },
      {
        href: "#",
        text: "Финансы",
        lastLink: true
      }
    ]

  header.header(class=headerMods)
      .header__topper
        if(currentUrl === "index.html")
          img.header__logo(src="img/logos/logo.svg", alt="Логотип", width="119", height="39")
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            img(src="img/logos/logo.svg", alt="Логотип", width="119", height="39")
        nav.header__nav
          ul.header__nav-list
            each link in headerLinksTopper
              - const activeState = currentUrl === link.href
              li.header__nav-item
                if(activeState)
                  span.header__nav-link.is-active= link.text
                else
                  a.header__nav-link(href=link.href)= link.text
      span.header__line
      .header__bottom
        nav.header__nav-bottom
          ul.header__nav-bottom-list
            each link in headerLinksBottom
              - const activeStateBottom = currentUrl === link.href
              li.header__nav-bottom-item
                if(activeStateBottom)
                  span.header__nav-bottom-link.is-active= link.text
                  img(src="img/icons/polygon_grey.svg", alt="")
                  span.separator
                else
                  a.header__nav-bottom-link(href=link.href)
                    span.header__nav-bottom-link-text= link.text
                    img(src="img/icons/Polygon 3.svg", alt="")
                  span.header__nav-bottom-separator







